.App {
  /*height: 100vh; 
  width: 100vw; */
  color: #d6d6d6;
  background-repeat: no-repeat;
  /*background-color: #c280a1;*/
  position: relative;
  z-index: 0;

  text-decoration: none;
}

.App-body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  justify-content: space-between;
}

.Intro {
  width: 80%;
  height: 72vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(24px + 5vmin);
  margin: 0 auto;
  margin-top: 2%;
  position: relative;
  z-index: 1;
  animation: fallIn 1.5s ease-out;
}

.portrait-image {
  width: 45%;
  min-width: 450px;
  height: auto;
  max-height: 90%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
.intro-greeting {
  width: 45%;
  min-width: 280px; /* Adjust minimum width as needed */
  height: auto;
  max-height: 90%;
  min-height: 200px; /* Adjust minimum height as needed */
  display: flex;
  flex-direction: column;
}

/* Media query for smaller screen sizes */
@media (max-width: 768px) {
  .portrait-image,
  .intro-greeting {
    width: 90%; /* Adjust the width for smaller screens */
    min-width: 200px; /* Adjust minimum width as needed */
    max-height: 70%; /* Adjust maximum height as needed */
    min-height: 150px; /* Adjust minimum height as needed */
  }
}

/* Media query for even smaller screen sizes */
@media (max-width: 480px) {
  .portrait-image,
  .intro-greeting {
    width: 100%; /* Adjust the width for even smaller screens */
    min-width: 150px; /* Adjust minimum width as needed */
    max-height: 50%; /* Adjust maximum height as needed */
    min-height: 100px; /* Adjust minimum height as needed */
  }
}

/* Keyframes for the new animation */
@keyframes fallIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .Intro {
    height: 100%;
    width: 100%;
    flex-direction: column-reverse; /* Switch to column layout for smaller screens */
  }

  .portrait-image {
    height: auto;
    width: auto;
    max-width: 85%; /* Set maximum width for column layout */
    max-height: 85%;
  }
  .intro-greeting {
    height: 65%;
    width: 50%;
    max-width: 85%; /* Set maximum width for column layout */
    max-height: 85%;
  }
}
