/* Keyframes for the header slide in */
@keyframes slideInHeader {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.App-header {
  width: 100%;
  height: 10vh;
  color: #d6d6d6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(15px + 3vmin);
  margin-left: 1%;
  position: sticky;
  top: 0;
  background-color: #242225;
  border-radius: 10px;
  animation: slideInHeader 1.5s ease-in-out; /* Add the animation */
}

.About-header {
  color: #d6d6d6;
  text-decoration: none;
  margin-right: 8%;
}

.Projects-header {
  color: #242225;
  text-decoration: none;
  margin-right: 8%;
}

.Cv-header {
  color: #242225;
  text-decoration: none;
}

.Header-link.active {
  text-decoration: none;
  margin-right: 7%;
  color: #ff66c4;
}

.Header-link {
  color: #d6d6d6;
  text-decoration: none;
  margin-right: 7%;
}

.Header-link-main {
  color: #d6d6d6;
  text-decoration: none;
  margin-right: 8%;
}

.Header-link-main.active {
  text-decoration: none;
  margin-right: 7%;
  color: #ff66c4;
  margin-right: 8%;
}

@media (max-width: 1403px) {
  .About-header,
  .Projects-header,
  .Cv-header,
  .Header-link,
  .Header-link-main {
    margin-right: 5%;
  }
}

@media (max-width: 926px) {
  .About-header,
  .Projects-header,
  .Cv-header,
  .Header-link,
  .Header-link-main {
    margin-right: 3%;
  }

  .App-header {
    justify-content: center;
  }
}
