.about-me {
  margin-top: 10.5vh; /* Reduce top margin */
  margin-left: 1vh; /* Reduce left margin */
  margin-right: 1vh; /* Reduce right margin */
  font-size: 1.7rem; /* Reduce font size */
  color: #d6d6d6;
}

.about-me-content {
  display: flex;
  flex-direction: row; /* Change to column for smaller layout */
  align-items: center; /* Center align content */
  background-color: #242225;
  margin-left: 5%; /* Reduce left margin */
  margin-right: 5%; /* Reduce right margin */
  border-radius: 10px;
  padding: 5px; /* Reduce padding */
  margin-top: 10%;
  font-size: 2.4rem;
}

.portrait-image {
  height: auto;
  width: 30%; /* Adjust size of the image */
  max-width: 100px; /* Limit maximum width */
  border-radius: 10%;
  margin-bottom: 3px; /* Reduce margin below image */
}

.about-me-content p {
  width: 60%; /* Reduce width of paragraph */
  font-size: 60%; /* Reduce font size */
  line-height: 1.5;
  color: #d6d6d6;
  padding: 7%; /* Reduce padding */
  text-align: center; /* Center align text */
}

/* Media query for smaller screen widths */
@media screen and (max-width: 1324px) {
  .about-me-content {
    flex-direction: column; /* Switch to column layout for smaller screens */
    align-items: center; /* Center align content vertically */
  }

  .portrait-image {
    width: 20%; /* Make image responsive */
    max-width: 100%; /* Ensure image doesn't exceed container width */
  }

  .about-me-content p {
    width: 100%; /* Make text full width within column layout */
  }

  @media screen and (max-width: 768px) {
    .portrait-image {
      width: 60%; /* Adjust image size for smoother transition */
    }
  }
}
