@import url(https://fonts.googleapis.com/css?family=Questrial:regular);
body {
  margin: 0;
  font-family: Questrial;
  background-color: #242225;
}

code {
  font-family: Questrial, Menlo, Monaco, Consolas, "Courier New", monospace;
}
